<%- include("../partials/header")%> 

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div>
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="img-fluid" alt="Responsive image" src="<%= campground.image %> ">
                <div class="card-body">
                    <h4 class="text-right">$9.00/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p><%= campground.description %> </p>
                    <p>
                        <em>Submitted By </em><%= campground.author.username %>
                    </p>
                    <div class="inline">
                        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %> 
                        <a href="/campgrounds/<%= campground._id %>/edit" tabindex="0">
                            <button class="small ui basic orange animated button" tabindex="0">
                                <div class="ui visible content">Edit</div>
                                    <div class="hidden content">
                                    <i class="edit icon"></i>
                                    </div>
                            </button>
                        </a>
                        <form class="inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="small ui basic red animated button" tabindex="0">
                                <div class="ui visible content">Delete</div>
                                    <div class="hidden content">
                                    <i class="trash alternate icon"></i>
                                    </div>
                            </button>
                        </form>
                        <div class="float-right inline">
                            <a class="btn btn-outline-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                        </div> 
                        <% } else{ %> 
                        <div class="inline">
                            <a class="btn btn-outline-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                        </div>
                        <% } %>        
                    </div>
                </div>
            </div>
            <div class="card" style="width: 100%;">
                <div class="card-body pt-0" style="background-color:rgb(248, 248, 248);">
                    <% campground.comments.forEach(function(comment){ %> 
                        <div class="row card-header" style="background-color:rgb(248, 248, 248);">
                            <div class="col-md-12">
                                <p>
                                    <strong><%= comment.author.username %></strong> 
                                    <span class="float-right">
                                        10 days ago
                                    </span>                                    
                                </p>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" tabindex="0">
                                    <button class="mini ui basic orange animated button" tabindex="0">
                                        <div class="ui visible content">Edit</div>
                                            <div class="hidden content">
                                            <i class="edit icon"></i>
                                            </div>
                                    </button>
                                </a>
                                <form class="inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="mini ui basic red animated button" tabindex="0">
                                        <div class="ui visible content">Delete</div>
                                            <div class="hidden content">
                                            <i class="trash alternate icon"></i>
                                            </div>
                                    </button>
                                </form>
                                <% } %> 
                            </div>
                        </div>
                    <% }); %>
                </div> 
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer")%> 